.main-title {
            color: #ff00a0;
            font-family: "Press start 2P";
            font-size: 30px;
            text-shadow: none;
            text-align: center;
            }

.main-title.-second {
            color: #ff00a0;
            font-family: "Press start 2P";
            font-size: 30px;
            text-align: center;
            }

   