.section {
    background-color: #000000;
    padding-top: 50px;
    appearance: none;
    border-bottom: 5px solid rgb(0, 255, 255);
    padding-bottom: 80px;
}

.section .main-title {
    margin-bottom: 60px;
}

.section.-bgBlack {
    background-color: rgb(0, 0, 0);
}
