.main-action {
    color: rgb(0, 255, 255);
    display: inline-flex;
    align-items: center;
    font-size: 19px;
    font-family: "Fira Code";
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

.main-action::before {
    content: " ";
    background-color: #fe00fe;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}