.skill-tec .progress-bar{
    background-color: #ff00a0;
}

.skill-tec {
    display: flex;
    align-items: center;
    color: rgb(0, 255, 255);
    text-shadow: 2px 2px blueviolet;
    font-family: "Press Start 2P", sans-serif;
    font-size: 20px;
}

.skill-tec .icon {
    margin-left: 25px;
    width: 90px;
}

.skill-tec .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.skill-tec .title {
    margin-bottom: 10px;
}